@import 'colors';
@import 'layout';
@import 'syntax';
@import 'footer';

/* Status colours */
$shipped-color: lighten($green-color, 5%);
$shipped-highlight-color: darken($light-green-color, 5%);
$in-development-color: $blue-color;
$in-development-highlight-color: $light-blue-color;
$under-consideration-color: $dirty-yellow-color;
$under-consideration-highlight-color: $light-yellow-color;

body.status {
  #content {
    max-width: 60em;
    padding: 3em $side-padding 1em;
  }
}

.construction-tomster {
  float: right;
  width: 200px;
  margin-left: 1em;
}

.Features {
  &:before {
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    background: $second-lightest-of-yellows-color;
    background: linear-gradient(
      90deg,
      rgba($second-lightest-of-yellows-color, 0) 0%,
      rgba($second-lightest-of-yellows-color, 1) 10%,
      rgba($second-lightest-of-yellows-color, 1) 90%,
      rgba($second-lightest-of-yellows-color, 0) 100%
    );
  }
}

.Feature {
  display: block;
  padding: 1em $side-offset;
  clear: both;

  padding: 1em;

  background: $lightest-of-yellows-color;
  background: linear-gradient(
    90deg,
    rgba($lightest-of-yellows-color, 0) 0%,
    rgba($lightest-of-yellows-color, 1) 10%,
    rgba($lightest-of-yellows-color, 1) 90%,
    rgba($lightest-of-yellows-color, 0) 100%
  );

  &:nth-child(2n) {
    background: transparent;
  }
}

// body {
//   background-color: $white-color;
//   font-family: $font-family;
//   font-size: $body-scale;
//   line-height: $body-line-height;
//   color: $black-color;
//   -webkit-font-smoothing: antialiased;
//   padding: 0;
//   margin: 0;
// }

// // a {
// //   color: $dull-red-color;
// //   transition: color 0.1s linear;
// //   text-decoration: none;
// // }

// // a:active {
// //   outline: none;
// // }

// // a:active,
// // a:focus,
// // a:hover {
// //   color: $red-color;
// //   text-decoration: underline;
// //   cursor: pointer;
// // }

// // h1,
// // h2,
// // h3,
// // h4,
// // h5,
// // h6 {
// //   font-family: $font-family;
// //   line-height: 1;
// //   margin: $whitespace 0;
// //   font-weight: bold;
// // }

// // h1 {
// //   color: $orange-color;
// //   font-size: $h1-scale;
// //   line-height: $h1-line-height;
// // }

// // h2 {
// //   color: $brown-color;
// //   font-size: $h2-scale;
// //   line-height: $h2-line-height;
// // }

// // h3 {
// //   margin: 0 0 1em;
// //   font-size: $h3-scale;
// //   line-height: $h3-line-height;
// // }

// // ul,
// // p {
// //   font-size: 1em;
// //   margin: ($whitespace / 2) 0;
// // }

// .Roadmap-Intro {
//   margin: ($whitespace*2) auto;
//   padding: 0 ($whitespace*2);
//   max-width: $screen-sm-min;

//   p {
//     font-size: $h3-scale;
//     line-height: $h3-line-height;
//   }

//   @media screen and (max-width: $screen-sm-min) {
//     margin: $whitespace auto;
//     padding: 0 $whitespace;

//     p {
//       font-size: $body-scale;
//       line-height: $body-line-height;
//     }
//   }

// }

// .Features {
//   background: $lightest-of-yellows-color;
//   background-image: linear-gradient(90deg,
//     rgba($lightest-of-yellows-color, 0) 0%,
//     rgba($lightest-of-yellows-color, 1) 2.5%,
//     rgba($lightest-of-yellows-color, 1) 97.5%,
//     rgba($lightest-of-yellows-color, 0) 100%
//   );

//   border-top: 1px solid $second-lightest-of-yellows-color;
//   border-image: linear-gradient(90deg,
//     rgba($second-lightest-of-yellows-color, 0) 0%,
//     rgba($second-lightest-of-yellows-color, 1) 2.5%,
//     rgba($second-lightest-of-yellows-color, 1) 97.5%,
//     rgba($second-lightest-of-yellows-color, 0) 100%
//   ) 1 100%;

//   @media screen and (max-width: 767px) {
//   }
//   @media screen and (min-width: 768px) {
//   }
// }

.Feature-Inner {
  margin: 0 auto;
  width: 100%;
}

.Feature-Head {
  // margin-bottom: $whitespace;
}

.Feature-Icon {
  display: block;
  float: left;
  height: $icon-height;
  margin: 2px 1em 0 0;
  width: $icon-height;
}

.Feature-Heading {
  color: $orange-dark;
  line-height: 1;
  text-align: left;
  margin-top: 0;

  h2 {
    margin: 0;
  }

  @media screen and (min-width: $screen-sm-min) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  button {
    background-color: transparent;
    border-color: transparent;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    padding: 0;
    text-align: left;
    width: 100%;
    &.disabled {
      cursor: not-allowed;
    }
    &:hover {
      cursor: pointer;
    }
  }
}

.Feature-Expand {
  background-color: transparent;
  border-color: transparent;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
  text-align: left;
  width: 100%;
  &.disabled {
    cursor: not-allowed;
  }
  &:hover {
    cursor: pointer;
  }
}

.Feature-Status {
  .status {
    margin: $whitespace 0;
    font-weight: bold;
    line-height: 1.2em;
  }

  .status:before {
    content: '';
    border-radius: 50%;
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
    display: inline-block;
    margin-bottom: -0.1em;
    box-shadow: rgba(0, 0, 0, 0.298039) 1px 3px 8px 0px;
  }
}

// @dry: Figure out how to use a mixin here
.status--shipped {
  color: $shipped-color;
  &:before {
    background: $shipped-highlight-color;
    border-color: $shipped-color;
  }
}

.status--in-development {
  color: $in-development-color;
  &:before {
    background: $in-development-highlight-color;
    border-color: $in-development-color;
  }
}

.status--under-consideration {
  color: $under-consideration-color;
  &:before {
    background: $under-consideration-highlight-color;
    border-color: $under-consideration-color;
  }
}

.Feature-Description {
  // margin: $whitespace 0;
}

.Feature-Description > div {
  p,
  ul {
    margin-top: 0;
  }
}

.Feature-Detail {
  h3 {
    margin: 0 0 ($whitespace / 2);
    font-size: 1em;
    color: $brown-orange-color;
  }
}

.Feature-Availability {
  margin: 0.5em 0;
}

.Feature-Resources {
  ul {
    padding: 0;
    list-style: none;
    margin: 0 !important;
  }
}

.Feature-Champions {
  ul {
    padding: 0;
    margin: 0 !important;
    list-style: none;
  }
}

.Feature-Champion {
  margin-right: 10px;
  margin-bottom: ($whitespace / 2);
  display: block;

  a {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  img {
    border-radius: 50%;
    margin-right: 7px;
    width: 30px;
  }
}

@media (min-width: $screen-sm-min) {
  .Features {
    clear: both;

    margin: 2em 0em;
    margin-left: -6em;
    margin-right: -5em;
  }

  //suggest that CSS media queries be added to the classes where they already exist instead of in a separate section, to make caring for the CSS a bit easier.
  .Feature {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    padding: 1em 6em;
  }
  // .Feature-Inner {
  //     margin-left: 1em;
  // }
  .Feature-Icon {
    float: none;
    // margin: 0;
  }
  .Feature-HeadContent,
  .Feature-Detail {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .Feature-Description {
    width: 100%;
  }

  .Feature-DetailContent {
    width: calc(#{100 - $right-hand-column-width-percent} - 60px);
  }
}

.u-hidden {
  display: none;
}

/* Helper Classes */
//suggest all project devs familiarize themselves with the common helper classes to avoid duplication.
.hidden {
  display: none;
}
.shown {
  display: block;
}

// Override website defaults
pre.hljs code {
  background-color: #fdf7ee;
  padding: 0;
  color: $black-color;
}

@import "feature-item";
