$orange-color: #e34c32;
$orange-dark: darken($orange-color, 10%);
$lightest-of-yellows-color: #fffdf9;
$second-lightest-of-yellows-color: #f8e7cf;
$red-color: #c13c27;
$dull-red-color: #dd6a58;
$brown-orange-color: #ab5d27;
$brown-color: #865931;
$black-color: #212121;
$white-color: #fdfdfd;
$green-color: #579e4a;
$light-green-color: #d4fea8;
$blue-color: #2683ab;
$light-blue-color: #cbebfe;
$dirty-yellow-color: #a28b5b;
$light-yellow-color: #fff8ae;
