/* Colors */
$orange-color: #E1563F;
$blue-color: #3c64b6;
$black-color: #252525;

/* Screen sizes */
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$icon-height: 60px;

// -- site.css.scss
body {
  background-color: white;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.5;
  color: #444444;
  -webkit-font-smoothing: antialiased;
}

h3 {
  margin: 0 0 1em;
  font-size: 1.5em;
}

h4 {
  color: $orange-color;
  margin: 0 0 1em;
}

ul, p {
  margin: 0 0 1em;
}

.Feature {
  margin: 0 0 2em;
}

.Feature-Head {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 1em;
}

.Feature-Icon {
  width: $icon-height;
  height: $icon-height;
}

.Feature-Heading {
  height: $icon-height;
  margin-left: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  h3 {
    line-height: 1em;
    margin: 0;
  }
}

.Feature-Status {
  margin: 0;
  line-height: 1em;
}

.Feature-Detail {
  h4 {
    margin: 0;
  }
}

@media(min-width: $screen-sm-min) {
  .Feature-Heading {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .Feature-Status {
    width: 30%
  }

  .Feature-Description {
    width: 70%;
  }

  .Feature-Availability {
    float: right;
  }
}

.u-hidden {
  display: none;
}
