<div class="Roadmap-Intro">
  <h1>The Ember Roadmap</h1>
  <p>Ember is an SDK for building ambitious applications that takes advantage of the most cutting-edge features of the web. Here's what we've built and what we're building.</p>
  <p>Don't miss the additional functionality available via Ember's vibrant addon community at <a href="">Ember Observer</a>!</p>
</div>

<feature-list @features={{features}} />