<div class="Roadmap-Intro">
  <h1>Status Board</h1>

  <p>Ember is an SDK for building ambitious application that take advantage of the most cutting-edge features of the web platform. Here's what we've build and what we're building.</p>
  <p>And don't miss the additional functionality available via Ember's vibrant addon community at <a href="">Ember Observer</a>.</p>
</div>

<feature-list @features={{features}} />
